<div class="bg-gray-50">
  <form action="/thuc-don" method="GET">
    <!-- Thực Đơn TP.HCM Section -->
    <section class="container mx-auto px-4 py-12">
      <!-- Thực Đơn Filter Section -->
      <section id="filterSection" class="bg-white p-6 rounded-lg shadow-md mb-12">
        <div class="space-y-4">
          <div>
            <label for="branch" class="block font-semibold text-orange-600">Chi nhánh</label>
            <select name="branch" class="w-full p-2 mt-1 border rounded-lg" onchange="this.form.submit();">
              <option value="" <% if (!selectedBranch) { %>selected<% } %>>Tất cả</option>
              <% allBranches.forEach(branch => { %>
                <option value="<%- branch.branch_id %>" <% if (selectedBranch?.name === branch.name ) { %>selected<% } %>><%-
                    branch.name %></option>
                <% }) %>
            </select>
          </div>
          <div>
            <label for="category" class="block font-semibold text-orange-600">Loại Món</label>
            <select name="category" class="w-full p-2 mt-1 border rounded-lg" onchange="this.form.submit();">
              <option value="" <% if (!selectedCategory) { %>selected<% } %>>Tất cả</option>
              <% allCategories.forEach(category=> { %>
              <option value="<%- category.category_id %>" <% if (selectedCategory?.name===category.name ) { %>selected
                <% } %>><%- category.name %></option>
              <% }) %>
            </select>
          </div>
        </div>
      </section>

      <div class="flex justify-center gap-6 mb-12">
        <div class="w-full flex justify-center space-x-4">
            <input type="text" id="searchValue" name="searchValue" placeholder="Tìm kiếm món ăn"
                value="<%= searchValue || '' %>"
                class="w-1/2 px-4 py-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-red-500 focus:border-transparent">
            <button type="submit"
                class="bg-red-600 text-white px-6 py-2 rounded-full hover:bg-red-700 hover:scale-105 transition-all">
                Tìm kiếm
            </button>
        </div>
      </div>

      <!-- Menu Items -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% dishes.forEach(dish=> { %>
          <div class="bg-white shadow-md rounded-lg overflow-hidden hover:shadow-lg transform hover:scale-105 transition duration-300">
            <img src="<%- dish.img_url %>" alt="Dish 1" class="w-full h-48 object-cover" />
            <div class="p-4">
              <h3 class="text-lg font-bold text-gray-800"><%- dish.name %></h3>
              <p class="text-gray-600 mt-2 text-sm"><%- dish.description %></p>
              <span class="block text-red-500 mt-4 font-bold"><%- dish.price %> VNĐ</span>
            </div>
          </div>
        <% }) %>
      </div>
    </section>
  </form>
</div>
